{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
        <h1 class="display-3 fw-bold mb-3">ID Karte NEU</h1>
        <p class="lead mb-5"><a target="_blank" class="link-light" href="/admin/ids/identifikation/{{ id.slug }}/change/">Neue ID anlegen!</a></p>
      </div>
    </div>
  </div>

{% endblock %}

